<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>

  <a mat-list-item routerLink="/chamados" routerLinkActive="active-link">
    <mat-icon matListItemIcon>support_agent</mat-icon>
    <span matListItemTitle>Soluções em aberto</span>
  </a>

  <a mat-list-item routerLink="/novo-usuario" routerLinkActive="active-link">
    <mat-icon matListItemIcon>person_add</mat-icon>
    <span matListItemTitle>Criar usuário</span>
  </a>
  <a mat-list-item routerLink="/usuarios" routerLinkActive="active-link">
    <mat-icon matListItemIcon>user_attributes</mat-icon>
    <span matListItemTitle>Gerenciar usuários</span>
  </a>

  <a mat-list-item routerLink="novo-cliente" routerLinkActive="active-link">
    <mat-icon matListItemIcon>user_attributes</mat-icon>
    <span matListItemTitle>Criar Cliente</span>
  </a>

  <a class="config" routerLink="/configuracoes" routerLinkActive="active-link">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span matListItemTitle>Configurações</span>
  </a>
</mat-nav-list>

<!-- { path: 'usuarios', component: UsuariosComponent },
  { path: 'novo-usuario', component: CriarUsuarioComponent },
  { path: 'chamados', component: ListaChamadosComponent },
  { path: 'novo-clinete', component: CriarClienteComponent }, -->
