
.navbar-toolbar {
  background-color: HEX #d5d5d5;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Boa prática adicionar isso */
  width: 100%;
  color: rgba(0, 0, 0, 0.96);
  /* Adicione padding para o conteúdo não colar nas bordas */
  padding: 0 3rem;
  box-sizing: border-box; /* Garante que o padding não estoure a largura */
 
}

.navbar-brand a {
 
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: flex-end;
}

.navbar-links a {
  
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.navbar-links a:hover,
.active-link {
  color: #ffd740; /* Cor de destaque ao passar o mouse ou quando o link está ativo */
  font-weight: bold;
}

.hamburger-menu {
  display: none;
}

/* Estilos para telas menores (responsividade) */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px; /* Altura da toolbar */
    left: 0;
    width: 100%;
    background-color: HEX #d5d5d5;
    padding: 1rem 0;
    
    /* --- A CORREÇÃO ESTÁ AQUI ---
      Adicione um z-index alto para garantir que o menu
      fique sobreposto a qualquer outro conteúdo da página.
    */
    z-index: 100;
  }

  .navbar-links.show-menu {
    display: flex;
  }

  .hamburger-menu {
    display: block;
  }
}