<mat-toolbar color="primary" class="navbar-toolbar">
  <div class="navbar-container">
    <button mat-icon-button (click)="onMenuClick()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="navbar-brand">
      <a routerLink="/chamados">SmartTruck</a>
    </div>

    <div class="navbar-links" [class.show-menu]="menuAberto">
      <a mat-button routerLink="/home" routerLinkActive="active-link">Início</a>
      <a mat-button routerLink="/sobre" routerLinkActive="active-link">Sobre</a>
      <a mat-button routerLink="/contato" routerLinkActive="active-link">Contato</a>
    </div>


    </div>
 
</mat-toolbar>