
 <div class="page-container">
    <header class="page-header">
      <h2>lista de usuarios</h2>
 <button mat-icon-button aria-label="Filtrar usuarios">
        <mat-icon>tune</mat-icon>
      </button> 
      
    </header>
  
    <!-- <app-filter (filterChange)="onFilterChange($event)"></app-filter> -->
  
    <div class="usuario-list">
    
 <mat-card class="usuario-card"  *ngFor="let usuario of usuarios">   
  <!--*ngFor="let chamado of filteredChamados"> -->
         <div class="usuario-layout">
          <div class="usuario-image-placeholder"></div>
          
          <div class="usuario-details">
            <mat-card-title>{{ usuario.name }}</mat-card-title>
            <mat-card-subtitle>{{ usuario.email }}</mat-card-subtitle>
            <mat-card-actions>
              <button mat-flat-button color="primary">editar</button>
            </mat-card-actions>
          </div>
        </div>
      </mat-card>
    </div>
  
    <footer class="pagination-controls">
      <button mat-stroked-button class="active">1</button>
      <button mat-stroked-button>2</button>
      <button mat-stroked-button>3</button>
      <span>...</span>

    </footer>
  
  </div>
  -->