/* src/styles.scss */

/* Mova esta linha para o topo do arquivo */
@use '@angular/material' as mat;

/* O resto do seu CSS vem depois */
html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* ... outros estilos ... */